@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

/* Menu inicial */

body{
    margin: 0px;
background-color: rgb(219, 219, 219);
}
#instruções{
    display: none;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    margin: auto;
    max-width: 800px;
}
#intruçãoNaTela{
    line-height: 21px;
}
#start{
    display: flex;
    flex-flow: column;
    align-items: center;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 30px;
    /* padding-top: 60px; */
    text-shadow: 2px 2px 2px #CE5937;
}
#start h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    margin-bottom: 5px;
    text-shadow: none;
    font-weight: 300;
    margin-top: 50px;
}
#start h1{
    margin-bottom: 20px;
    text-align: center;
}
#start p{
    margin: 0px;
    margin-bottom: 10px;
    text-shadow: none;
    font-weight: 100;
    font-size: 25px;
}
#play{
padding: 10px 50px;
border: none;
border-radius: 5px;
font-family: 'Gemunu Libre', sans-serif;
font-size: 25px;
background-color: rgb(222, 155, 135);
color: white;
cursor: pointer;
outline: none;
box-shadow: 0 5px rgb(68, 47, 32);
margin: 12px 0;
}
#play:active{
    box-shadow: 0 2px rgb(68, 47, 32);
    transform: translateY(4px); 
}
#tutorial{
margin-top: 10px;
padding: 10px 50px;
border: none;
border-radius: 5px;
font-family: 'Gemunu Libre', sans-serif;
font-size: 25px;
background-color: rgb(222, 155, 135);
color: white;
cursor: pointer;
outline: none;
box-shadow: 0 5px rgb(68, 47, 32);
}
#tutorial:active{
    box-shadow: 0 2px rgb(68, 47, 32);
    transform: translateY(4px); 
}
#selecionarDificuldade{
    margin: 10px 0;
}
#selecionarDificuldade button{
    padding: 3px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 25px;
    background-color: rgb(222, 155, 135);
    color: white;
    cursor: pointer;
    outline: none;
    box-shadow: 0 5px rgb(68, 47, 32);
}
#selecionarDificuldade button:active{
    box-shadow: 0 2px rgb(68, 47, 32);
    transform: translateY(4px); 
}

/* após iniciar */
#imgbox{
    width: 100vw;
    display: none;
    position: absolute;
    justify-content: center;
}
#main{
    display: none;
    flex-direction: column;
    align-items: center;
}

#main h1{
    font-family: 'Gemunu Libre', sans-serif;
    text-shadow: 2px 2px 2px #CE5937;
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#box1{
    padding-top: 20px;
    width: 75vw;
    display: flex;
    justify-content: space-between;

}
.torre{
    width: 10px;
    height: 150px;
    background-color: rgb(68, 47, 32);
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
#selecionado{
    display: flex;
    justify-content: center;
    height: 20px;
}

#items{
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    width: 95vw;
    margin-top: 20px;
    z-index: 2;
}
#contadorDeMovimento h3{
    margin: 5px 10px;
}
#contadorDeMovimento p{
    font-family: 'Gemunu Libre', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
}
#contadorDeMovimento{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contadorDeMovimentos{
    border: 1px dashed black;
    text-align: center;
    border-radius: 10px;
    display: block;
    width: 120px;
}
p#minimoMovimento {
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin: 15px 0;
}
#reset{
    background-color: rgb(222, 155, 135);
    color: white;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: 800;
    border-bottom: 3px solid rgb(68, 47, 32);
    border-radius: 10px;
    width: 150px;
    height: 80px;
    cursor: pointer;
}
#reset:active{
    background-color: rgb(222, 155, 135);
    color: white;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: 800;
    margin-top: 5px;
    border-radius: 10px;
}

#box2{
    /* width: 80vw; */
    text-align: center;
    height: 50px;
    margin: 30px 0;
}

#box2 h2{
    font-family: 'Josefin Sans', sans-serif;
}
#voltarMenu{
    width: 100vw;
    display: none;
    justify-content: center;
}
#buttonMenu{
    padding: 10px 10px;
    margin-top: 2%'';
    background-color: white;
    color: black;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    z-index: 2;
    cursor: pointer;
}
#imgbox>img{
    width: 100vw;
    height: 100vh;
}
@media screen and (min-Width: 700px) {
    #box1{
        width: 50vw;
    }
    #items{
        width: 65vw;
    }
    #intruçãoNaTela{
        font-size: 1.5em;
        line-height: normal;
    }
}
@media screen and (min-width:1000px){
    #start h1{
        font-size: 3em;
    }
    #play{
        font-size: 35px;
    }
    #tutorial{
        font-size: 35px;
    }
    #start h2{
        font-size: 1.5em;
    }
    #start p{
        font-size: 35px;
    }
    #selecionarDificuldade button{
        font-size: 35px;
    }
    #buttonMenu{
        font-size: 25px;
    }
    #main h1{
        font-size: 90px;
    }
    #contadorDeMovimentos{
        width: 200px;
    }
    #contadorDeMovimento h3{
        font-size: 2em;
    }
    #contadorDeMovimento p{
        font-size: 30px;
    }
    p#minimoMovimento{
        font-size: 20px;
    }
}